{% extends 'base.html' %}

{% block content %}

<a name="" id="" class="btn btn-primary" href="{% url 'create' %}" role="button">Create Post</a>

{% for post in object_list %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> <a href="{% url 'detail' post.id %}">{{post.title}}</a> | {{post.post_date | date}}</h4>
        <p class="card-text">{{post.content | truncatewords:5}}</p>
        <a name="" id="" class="btn btn-danger" href="{% url 'delete' post.id %}" role="button">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock content %}